@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
  font-family: Indie Flower;
  font-weight: bold;
  font-size: 18px;
}

hr {
  border: 2px solid rgb(75, 74, 74);
}

#myTitle {
  background-color: #7fffd3;
}

th,
td {
  background-color: #7fffd3;
}

.row {
  background-color: #7fffd3;
}

th {
  color: #f91511;
  font-weight: bolder;
}

.caption {
  width: 300px;
  text-align: center;
}

.td-english {
  background-color: #8fb1cc;
}
