@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  background-color: rgb(0, 0, 0);
  font-family: "poppins";
}

.form {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 500px;
  border-radius: 20px 20px;
  background-color: #14172b;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
}

.submit {
  padding: 12px;
  border-radius: 6px 6px;
  border: none;
  margin-top: 20px;
  background-color: rgb(5, 124, 215);
  color: #fff;
  width: 105%;
}

.input-container {
  width: 110%;
  display: flex;
  justify-content: center;
  padding: 15px 10px;
}

.ic1 {
  margin-top: 20px;
}

.input {
  border-radius: 6px 6px;
  border: none;
  padding: 15px 10px;
  background-color: #303245;
  width: 90%;
}

.title {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-self: start;
  width: 100%;
  margin-top: 30px;
}

.subtitle {
  color: rgb(245, 245, 245);
  font-size: 20px;
  width: 100%;
  margin-top: 15px;
}
